body {
  font-size: 0.8rem;
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

/* The styling for the footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  padding: 0px;
  margin: 0px;
}
