include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : About us
    body
        +banja_header(names,home, true)
        .banja_content
            h3 About us
            img.img-fluid(src="/static/images/Blue Banja.png", alt="BodaBoda Banja Logo", height="70", width="70")
            span
                | BodaBoda Banja, is a private company that offers bodabodas, tuktuks, 
                | tricycles among others on credit to qualified Ugandans.
                | BodaBoda Banja finances income-generating assets for proven entrepreneurs.
                | We invest in giving a chance to customers generally unable to access traditional
                | credit providers.
            #carouselExampleIndicators.carousel.slide(data-ride="carousel", style="height: 60px")
                ol.carousel-indicators
                    li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
                    li(data-target="#carouselExampleIndicators" data-slide-to="1")
                    li(data-target="#carouselExampleIndicators" data-slide-to="2")
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src="/static/images/user.png" alt="...")
                    .carousel-item
                        img.d-block.w-100(src="/static/images/user.png" alt="...")
                    .carousel-item
                        img.d-block.w-100(src="/static/images/user.png" alt="...")
                a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next
        include components/footer