include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Customers
    body
        +banja_header(names, home, false)
        .banja_content
            h3 Add Customer
            form(action="/sales/customers", method="post")
                table
                    tbody
                        tr
                            td
                                fieldset
                                    legend Personal Information
                                    table
                                        tbody
                                            tr
                                                td.form_headers Full Names :
                                                td: input#names(type="text", name="names", autocomplete="off")
                                            tr
                                                td.form_headers Username :
                                                td: input#username(type="text", name="username",autocomplete="off")
                                            tr
                                                td.form_headers Phone Number :
                                                td: input#phoneNumber(type="tel", name="phoneNumber",autocomplete="off")
                                            tr
                                                td.form_headers Date of Birth :
                                                td: input#dateOfBirth(type="date", name="dateOfBirth",autocomplete="off")
                                            tr
                                            -var today = new Date()
                                                td: input#dateOfRegistration(type="text", name="dateOfRegistration", value= today , hidden)
                                                td: input#password(type="password", name="password",value="notrequired", hidden)
                                                td: input#supervisor(type="text", name="supervisor",value=names, hidden)
                                            tr
                                                td.form_headers Customer ID:
                                                td: input#customerID(type="text", name="customerID", autocomplete="off")
                        tr
                            td
                                fieldset
                                    legend Verification
                                    table
                                        tbody
                                            tr
                                                td.form_headers National ID Number (NIN) :
                                                td: input#NIN(type="text", name="NIN", autocomplete="off")
                                            tr
                                                td.form_headers Nationality :
                                                td: input#nationality(type="text", name="nationality", autocomplete="off")
                                            tr
                                                td.form_headers Marital Status :
                                                td: input#maritalStatus(type="text", name="maritalStatus", autocomplete="off")
                                            tr
                                                td.form_headers Verification Documents :
                                                td
                                                    label Provided
                                                    input#provided(type="radio", name="documents",value="true")
                                                    label Not Provided
                                                    input#notprovided(type="radio", name="documents", value="false", checked)
                                            tr
                                                td.form_headers Stage Name :
                                                td: input#stageName(type="text", name="stageName", autocomplete="off")
                                            tr
                                                td.form_headers LC One :
                                                td: input#lcOne(type="text", name="lcOne", autocomplete="off")
                                            tr
                                                td.form_headers LC Three :
                                                td: input#lcThree(type="text", name="lcThree", autocomplete="off")
                        tr
                            td
                                fieldset
                                    legend Vehicle Details
                                    table
                                        tbody
                                            tr
                                                td.form_headers Vehicle :
                                                td
                                                    select#vehicleType(name="vehicleType")
                                                        option(value="BodaBoda") BodaBoda
                                                        option(value="TukTuk") TukTuk
                                            tr
                                                td.form_headers Down Payment :
                                                td: input#downPaymnet(type="number", name="downPaymnet", autocomplete="off")
                        tr
                            td
                                fieldset
                                    legend Referee
                                    table
                                        tbody
                                            tr
                                                td.form_headers Name :
                                                td: input#refereeName(type="text", name="refereeName", autocomplete="off")
                                            tr
                                                td.form_headers Date of Birth :
                                                td: input#refereeDob(type="date", name="refereeDob",autocomplete="off")
                                            tr
                                                td.form_headers Occupation :
                                                td: input#refereeOccupation(type="text", name="refereeOccupation",autocomplete="off")
                                            tr
                                                td.form_headers Contact :
                                                td: input#refereeContact(type="tel", name="refereeContact",autocomplete="off")
                        tr
                            td: input.add_customer_btns(type="submit", value="SUBMIT")
                            td: input.add_customer_btns(type="reset", value="RESET")
        include components/footer
        script(src="/static/js/bootstrap/jquery.js")
        script(src="/static/js/bootstrap/bootstrap.js")
        script(src="/static/js/index.js")