include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Salesmen
    body
        +banja_header(names,home,false)
        .banja_content
            h3 Add Salesmen
            form(action="/admin/sales", method="post")
                table
                    tbody
                        tr
                            td
                                fieldset
                                    legend Personal Information
                                    table
                                        tbody
                                            tr
                                                td.form_headers Full Names :
                                                td: input#names(type="text", name="names", autocomplete="off")
                                            tr
                                                td.form_headers Username :
                                                td: input#username(type="text", name="username",autocomplete="off")
                                            tr
                                                td.form_headers Phone Number :
                                                td: input#phoneNumber(type="tel", name="phoneNumber",autocomplete="off")
                                            tr
                                                td.form_headers Date of Birth :
                                                td: input#dateOfBirth(type="date", name="dateOfBirth",autocomplete="off")
                                            tr
                                            -var today = new Date()
                                                td: input#dateOfRegistration(type="text", name="dateOfRegistration", value= today , hidden)
                                                td: input#password(type="password", name="password",value="notrequired", hidden)
                                                td: input#role(type="text", name="role",value="sales", hidden)
                        tr
                            td
                                fieldset
                                    legend Details
                                    table
                                        tbody
                                            tr
                                                td.form_headers Unique ID :
                                                td: input#ids(type="text", name="ids", autocomplete="off")
                                            tr
                                                td.form_headers Supervisor :
                                                td
                                                    select#supervisor(name="supervisor")
                                                        option(value="none") Choose a supervisor
                                                        each supervisor in supervisors
                                                            option(value=supervisor.user.names)=supervisor.user.names

                                            tr
                                                td.form_headers Number of working days :
                                                td: input#numberOfWorkingDays(type="number", name="numberOfWorkingDays", autocomplete="off")
                                            tr
                                                td.form_headers Email (optional) :
                                                td: input#email(type="email", name="email", autocomplete="off")
                        tr
                            td: input.add_salesman_btns(type="submit", value="SUBMIT")
                            td: input.add_salesman_btns(type="reset", value="RESET")

        include components/footer
        script(src="/static/js/bootstrap/jquery.js")
        script(src="/static/js/bootstrap/bootstrap.js")
        script(src="/static/js/index.js")