include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Contact
    body
        +banja_header(names,home, true)
        .banja_content
            h3 Contact us
            .row.no-gutters
                .col-sm
                    h6 Contact
                    ul
                        li Tel:   +256 789566944
                        li Mob :  +256 788688912
                        li Email: care@bodabodabanja.ug            
                .col-sm
                    h6 Address
                    ul
                        li Le Palm Building 
                        li Plot 244/245, Lubbobo Close, Kampala- Muyenga Tank Hill Road
                        li P.O.Box 7782 Kampala, Uganda.
                .col-sm
                    h6 Social
                    ul
                        li Twitter: twitter.com/bodabodabanja
                        li Youtube : youtube.com/bodabodabanja
                        li Facebook: facebook.com/bodabodabanja
    include components/footer