include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Contact
    body
        +banja_header(names,home, true)
        .banja_content
            h3 Contact us
        include components/footer