include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Contact
    body
        +banja_header(names,home, true)
        .banja_content
            h3 Contact us
            .row.no-gutters
                .col-sm
                    h6 Contact
                    ul
                        li Tel:   +256 789566944
                        li Mob :  +256 788688912
                        li Email: care@bodabodabanja.ug            
                .col-sm
                    h6 Address
                    ul
                        li Le Palm Building 
                        li Plot 244/245, Lubbobo Close, Kampala- Muyenga Tank Hill Road
                        li P.O.Box 7782 Kampala, Uganda.
                .col-sm
                    h6 Social
                    ul
                        li
                            i.fab.fa-twitter(style="color: #00ACEE; font-size: 20px;margin-right: 1rem;")
                            span Twitter: twitter.com/bodabodabanja
                        li
                            i.fab.fa-youtube(style="color: #C4302B; font-size: 20px;margin-right: 1rem;")
                            span
                                | Youtube : youtube.com/bodabodabanja
                        li
                            i.fab.fa-facebook(style="color: #3B5998; font-size: 20px;margin-right: 1rem;")
                            span Facebook: facebook.com/bodabodabanja
    include components/footer