doctype html
html
    head
        //- Include the head with the meta and link tags
        include components/head.pug
        title BodaBoda Banja : Sign in
    body
        form(action="/signin" method="POST")
            table
                tbody
                    tr
                        td Username :
                        td
                            input#username(type="text", name="username")
                    tr
                        td Password :
                        td
                            input#userpassword(type="password", name="userpassword")
                    tr
                        td(cols="2")
                            a(href="/register") Have no account? Register instead
                    tr
                        td
                            input#btn_submit_login(type="button", value="SUBMIT")
                        td
                            input#btn_reset_login(type="reset", value="CANCEL")
                    tr
                        td(cols="2")
                            a(href="/resetpassword") Reset Password
                        

        //- Include the footer component
        include components/footer
        script(src="js/bootstrap/jquery.js")
        script(src="js/bootstrap/bootstrap.js")
        script(src="js/index.js")