include components/header
doctype html
html
    head
        include components/head
        title BodaBoda Banja : Reset Password
    body
        +banja_header(names,home, true)
        .banja_content
            h3 Reset Password
            form(action="/user/resetpassword", method="POST")
                table
                    tbody
                        tr
                            td: label(for="username") Username :
                            td: input.form-control#username(type="text", name="username")
                        tr
                            td: label(for="oldpassword") Old Password :
                            td: input.form-control#oldpassword(type="password", name="oldpassword")
                        tr
                            td: label(for="newpassword") New Password :
                            td: input.form-control#newpassword(type="password", name="newpassword",pattern="{6,12}", minlength="6", maxlength="12")
                        tr
                            td: button.form-control(type="submit") RESET PASSWORD
                            td: button.form-control(type="reset") CANCEL
        include components/footer