<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Add the links to the stylesheets -->
    <link rel="stylesheet" href="./../../css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="./../../css/styles.css" />
    <title>Footer</title>
  </head>
  <body>
    <footer>
      <p>BodaBoda Banja &copy 2020</p>
      <p>All rights reserved</p>
    </footer>
    <!-- Import all the js files -->
    <script src="./../../js/bootstrap/jquery.js"></script>
    <script src="./../../js/bootstrap/bootstrap.js"></script>
    <script src="./../../js/index.js"></script>
  </body>
</html>
