//- The delete action for customer and sales lists
mixin delete_banja_user(customer, action)   
    form(action=action, method="POST")
        input(name="rolesman", hidden, value=customer)
        button.delete_btn(type="submit"): i.fas.fa-trash-alt.delete_icon