//- The edit action for customer and sales lists
mixin edit_banja_user(rolesman, action)   
    form(action=action, method="POST")
        input(name="rolesman", hidden, value=rolesman)
        button.edit_btn(type="submit"): i.fas.fa-pencil-alt.edit_icon