//- The delete action for customer and sales lists
mixin edit_banja_user(rolesman, action)   
    form(action=action, method="POST")
        input(name="rolesman", hidden, value=rolesman)
        input(type="submit",value="Edit")