//- The filter action for customer and sales lists
mixin banja_filter(action, name)
    div.form-row
        div.col.form-group.col-md-9    
            form.search(action=action)
                div.form-row
                    div.col-md-8
                        input.form-control(name= name, placeholder="Filter by " + name,  autocomplete="off", required)
                    div.col-md-4
                        input.btn.btn-dark.btn-block(type="submit",value="Filter")