//- The menu navigation bar should be availabe on all pages
mixin banja_header(user_names)
    .banja_header
        .header_logo.commons_row(title="BodaBoda Banja")
            img.header_logo_img(src="/static/images/White Banja.png", alt="BodaBoda Banja Logo")
            .header_logo_name BodaBoda
                span  Banja
            sup TM
            
        .header_contents.commons_row
            .header_links.commons_row
                a(href="#"): .navbar_home.commons_row HOME
                a(href="#"): .navbar_aboutus.commons_row ABOUT US
                a(href="#"): .navbar_contact.commons_row CONTACT
            .header_profile.commons_row
                .header_profile_img.commons_row
                    img.header_profile_img_img(src="/static/images/Helmet.png", alt="Profile Picture", title="Profile Picture")
                .header_profile_name= user_names
                form.logout.commons_row(action="/logout",method="POST")
                    button.commons_row(type="submit")
                        img(src="/static/icons/logout.png", alt="Logout button", title="Logout")
                        p Logout
